body{
    background-color: slategray;
    text-align: center;
}

p {
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.2em;
    margin: 20px;
}

input {
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.3em;
}

#upload {
    background-color: palevioletred;
    color: white;
    width: 200px;
}

#upload:hover {
    background-color: mediumvioletred;
    cursor: pointer;
}

input:focus {
    border: solid 5px #00FFCE;
    outline: none;
}